@model Himall.Model.SiteSettingsInfo
@{
    ViewBag.Title = "商家提现金额设置";
}

<script src="~/Areas/Admin/Scripts/ShopCapitalSetting.js"></script>
<script src="~/Scripts/v.js"></script>
<div class="container clear-v">
    <ul class="nav nav-tabs-custom clearfix">
        <li><a href="Management?status=3" id="dh_3">提现成功</a></li>
        <li><a href="Management?status=1" id="dh_1">待处理</a></li>
        <li><a href="Management?status=5" id="dh_5">付款中</a></li>
        <li><a href="Management?status=4" id="dh_4">提现失败</a></li>
        <li><a href="Management?status=2" id="dh_2">拒绝提现</a></li>
        <li class="active"><a>提现金额设置</a></li>
    </ul>
    @using (Html.BeginForm("Setting", "ShopWithDraw", FormMethod.Post, new { id = "form1" }))
    {
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="">最低提现金额：</label>
                <div class="col-sm-3">@Html.EditorFor(item => item.ShopWithDrawMinimum, new { htmlAttributes = new { @class = "form-control input-sm" } })</div>
                <div class="col-sm-5"><span class="help-default">设置最低提现金额.</span></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="">最高提现金额：</label>
                <div class="col-sm-3">@Html.EditorFor(item => item.ShopWithDrawMaximum, new { htmlAttributes = new { @class = "form-control input-sm" } })</div>
                <div class="col-sm-5"><span class="help-default">设置最高提现金额(最高不能大于1000000).</span></div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="button" id="Save" class="btn btn-primary" value="保 存">
                </div>
            </div>
        </div>
    }
</div>
