<?xml version="1.0"?>
<PluginInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <PluginId>Himall.Plugin.Payment.WeiXinPay_O2OSmallProg</PluginId>
  <DisplayName>微信O2O小程序支付</DisplayName>
  <ClassFullName>Himall.Plugin.Payment.WeiXinPay_O2OSmallProg.Service,Himall.Plugin.Payment.WeiXinPay_O2OSmallProg</ClassFullName>
  <Description>微信O2O小程序支付</Description>
  <PluginDirectory>F:\WORK\180122项目(谷新投资)\2018.01.08_GuXinTouZi_Himall3.0\src\Himall.Web\plugins\Payment\Himall.Plugin.Payment.WeiXinPay_O2OSmallProg</PluginDirectory>
  <Type>1</Type>
  <Author>Himall</Author>
  <Version>1.0</Version>
  <AddedTime>2018-01-25T09:50:35.8619237+08:00</AddedTime>
  <MinHimallVersion>1.1.0</MinHimallVersion>
  <MaxHimallVersion />
  <Enable>false</Enable>
  <DisplayIndex>0</DisplayIndex>
</PluginInfo>