<?xml version="1.0"?>
<PluginInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <PluginId>Himall.Plugin.Payment.WeiXinPay_H5</PluginId>
  <DisplayName>微信H5支付</DisplayName>
  <ClassFullName>Himall.Plugin.Payment.WeiXinPay_H5.Service,Himall.Plugin.Payment.WeiXinPay_H5</ClassFullName>
  <Description>H5微信支付</Description>
  <PluginDirectory>E:\发布\himall2.8\plugins\Payment\Himall.Plugin.Payment.WeiXinPay_H5</PluginDirectory>
  <Type>1</Type>
  <Author>Himall</Author>
  <Version>1.0</Version>
  <AddedTime>2018-03-22T11:05:09.793677+08:00</AddedTime>
  <MinHimallVersion>1.1.0</MinHimallVersion>
  <MaxHimallVersion />
  <Enable>false</Enable>
  <DisplayIndex>0</DisplayIndex>
</PluginInfo>