<?xml version="1.0"?>
<PluginInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <PluginId>Himall.Plugin.OAuth.WeiXin</PluginId>
  <DisplayName>微信</DisplayName>
  <ClassFullName>Himall.Plugin.OAuth.WeiXin.WXLoginPlugin,Himall.Plugin.OAuth.WeiXin</ClassFullName>
  <Description>微信信任登录插件</Description>
  <PluginDirectory>E:\发布\himall2.8\plugins\OAuth\Himall.Plugin.OAuth.WeiXin</PluginDirectory>
  <Type>0</Type>
  <Author>Himall</Author>
  <Version>1.0</Version>
  <AddedTime>2018-03-22T11:05:09.6999264+08:00</AddedTime>
  <MinHimallVersion>1.0.0</MinHimallVersion>
  <MaxHimallVersion />
  <Enable>true</Enable>
  <DisplayIndex>0</DisplayIndex>
</PluginInfo>