<?xml version="1.0"?>
<PluginInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <PluginId>Himall.Plugin.Express.BaiShiHuiTong</PluginId>
  <DisplayName>百世汇通</DisplayName>
  <ClassFullName>Himall.Plugin.Express.BaiShiHuiTong.Service,Himall.Plugin.Express.BaiShiHuiTong</ClassFullName>
  <Description>百世汇通快递插件</Description>
  <PluginDirectory>F:\Hiishop_Mall\trunk\src\Himall.Web\plugins\Express\Himall.Plugin.Express.BaiShiHuiTong</PluginDirectory>
  <Type>2</Type>
  <Author>Himall</Author>
  <Version>1.0</Version>
  <AddedTime>2017-09-14T09:48:38.7420239+08:00</AddedTime>
  <MinHimallVersion>1.0.0</MinHimallVersion>
  <MaxHimallVersion />
  <Enable>false</Enable>
  <DisplayIndex>0</DisplayIndex>
</PluginInfo>