<?xml version="1.0" encoding="utf-8" ?>
<Root>
  <appid>wx8b2369d7a650c5eb</appid>
  <appkey>727336d57bd539781ac341124192afa7</appkey>
  <timestamp>1428433102</timestamp>
  <openid>iDhqszL1X5n61YzhukqZLNZWAciRfA3z</openid>
  <noncestr>wx_logo.png</noncestr>
  <issubscribe>apiclient_cert.p12</issubscribe>
</Root>